# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.vs
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


node_modules/
dist/
.vite/
.cache/
coverage/
.env
.DS_Store

obj
bin
*.csproj.user
*.sln.DotSettings.user
*.env*
TestResults
.runsettings
appsettings.Development.json
testsettings.Development.json
.kiota